input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

.link-style {
  color: #4b4171;
}

.field-search input {
  background: #f2f6f5 url("../images/search.svg") no-repeat 96% center;
  border-radius: 20px;
  width: 100%;
  padding: 10px 60px 10px 20px;
  background-size: 25px;
}


